<h1 class="chat_name">
  <%= @chat.name %>
</h1>

<div class="row">
  <div class="col-12 col-md-3">
<%= link_to 'Edit', edit_chat_path(@chat), class: 'btn btn-primary button2' %>
<%= link_to 'Destroy', chat_path(@chat), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger button2' %>
</div>
</div>

<div class="row">
  <div class="col-12 col-md-3">
    <%= render partial: 'chats' %>
  </div>


  <div class="col">
    <div class="room data-channel-subscribe="chat" data-chat-id="<%= @chat.id %>">
      <% @chat_messages.each do |chat_message| %>
      <div class="room-message-container">
        <div class="row no-gutters">
          <div class="col-auto text-center">
            <img src="<%= chat_message.user.gravatar_url %>" class="avatar" alt="avatar">
          </div>

          <div class="col">
            <div class="message-content">
              <p class="mb-1">
                <%= chat_message.message %>
              </p>

              <div class="text-right">
                <small>
                  <%= chat_message.created_at %>
                </small>
              </div>
            </div>
           </div>
          </div>
        </div>      
      <% end %>
    </div>

    <%= simple_form_for @chat_message, remote: true do |form| %>
      <div class="input-group mb-3">
        <%= form.input :message, as: :string,
                                 wrapper: false,
                                 label: false,
                                 input_html: {
                                   class: 'room-input'
                                 } %>
        <div class="input-group-append">
          <%= form.submit "Send", class: 'btn btn-dark room-send' %>
        </div>
      </div>

      <%= form.input :chat_id, as: :hidden %>
    <% end %>
  </div>
</div>



<div class="d-none" data-role="message-template">
 <div class="room-message-container">
  <div class="row no-gutters">
    <div class="col-auto text-center">
      <img src="" class="avatar" alt="avatar" data-role="user-avatar">
    </div>

    <div class="col">
      <div class="message-content">
        <p class="mb-1" data-role="message-text"></p>

        <div class="text-right">
          <small data-role="message-date"></small>
        </div>
      </div>
    </div>
  </div>
</div>
</div>












